:root {
  --first-color: #19c8fa;
  --t-color: rgba(15, 116, 143, 70%);
  --padding: 100px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
.container {
  width: 600px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 100%;
}
@media (min-width:750px) {
  .container {
    width: 750px;
  }
}
@media (min-width:922px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading h2 + p{
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* default */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  bottom: 0;
  left: 15px;
}
header .container .img img{
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav i.toogle {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header .container nav .toogle {
    display: none;
  }
}
header .container nav ul {
  display: flex;
}
header .container nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: .3s;
  padding: 40px 10px;
  position: relative;
  z-index: 3;
}
header .container nav ul li a:hover,
header .container nav ul li a.active {
  color: var(--first-color);
  border-bottom: 1px solid var(--first-color);
}
header .container nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header .container nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toogle:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0 / 50%);
    text-align: center;
    z-index: 12;
  }
  header .container nav ul li a {
    padding: 15px !important;
  }
}
.landing {
  min-height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 60%);
}
.landing .overlay .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: rgba(15, 116, 143, 80%);
  z-index: 0;
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .overlay .text .content {
  max-width: 500px;
}
.landing .overlay .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .overlay .text .content p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--first-color);
}
@media (max-width:767px) {
  .landing .overlay .text {
    width: 100%;
  }
  .landing .overlay .text .content {
    max-width: 100%;
  }
  .landing .change-back {
    display: none;
  }
}
.section {
  padding: 100px;
}
.services {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.services .container .srv-box {
  display: flex;
}
.services .container .srv-box i {
  margin-right: 20px;
}
.services .container .srv-box p {
color: #777;
}
.services .container .srv-box h3 {
  margin-bottom: 30px;
  color: var(--first-color);
}
@media (min-width: 768px) {
  .services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(459px, 1fr));
    gap: 40px 60px;
  }
}
@media (max-width: 767px) {
  .services .container .srv-box {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
    justify-content: center;
  }
  .services .srv-box i {
    width: 100%;
    margin: 0 0 30px;
    margin-right: -1px;
  }
}
.design {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  height: 600px;
  position: relative;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 60%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
}
.design .image img {
  position: relative;
  bottom: -150px;
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--t-color);
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul ::before {
  content: '\F108';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.portfolio {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 10px;
}
.portfolio .shuffle li.active {
  background-color: var(--first-color);
  color: white;
}
.portfolio .imags-folder {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imags-folder .box {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .portfolio .imags-folder .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .portfolio .imags-folder .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imags-folder .box {
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
  }
}
.portfolio .imags-folder .box img {
  max-width: 100%;
  transition: .3s;
}
.portfolio .imags-folder .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  transition: .3s;
  width: 100%;
  bottom: -100%;
}
.portfolio .imags-folder .box:hover .caption {
  bottom: 0;
}
.portfolio .imags-folder .box:hover img {
  transform: rotate(2deg) scale(1.2);
}
.portfolio .imags-folder .box h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .imags-folder .box p {
  color: var(--first-color);
}
.portfolio .more {
  text-transform: uppercase;
  background-color: var(--first-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
}
.video {
  position: relative;
}
.video::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0 / 40%);
}
.video video {
  width: 100%;
}
.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--t-color);
  color: white;
  text-align: center;
}
.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  transition: .7s;
}
.video .text button:hover {
  background-color: white;
  color: var(--first-color);
  border: 1px solid black;
  font-weight: bold;
  border-radius: 5px;
}
.about {
  padding-top: var(--padding);
  overflow: hidden;
  text-align: center;
  height: 900px;
}
.about img {
  position: relative;
  bottom: -80px;
  margin-top: -80px;
  max-width: 100%;
}
.about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px) {
  .about {
  height: 630px;
  }
  .about img {
    bottom: -50px;
    margin-top: -50px;
  }
}
.stats {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  text-align: center;
  background-image: url(../images/stats.png);
  background-size: cover;
  position: relative;
}
.stats::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 70%);
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box {
  padding: 50px;
  background-color: var(--t-color);
  color: white;
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.stats .container .box .num {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .container .box p {
  font-size: 14px;
}
.our-skills {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.our-skills .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.our-skills .container .testemonials .box {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.our-skills .container .testemonials .box img {
  width: 100px;
  border-radius: 50%;
  margin-right: 60px;
}
@media (max-width: 767px) {
  .our-skills .container .testemonials .box {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .container .testemonials .box img {
    margin: 0 auto 20px;
  }
}
.our-skills .container .testemonials .text  {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .container .testemonials .box .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.our-skills .container .testemonials .bullits {
  display:  flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}
.our-skills .container .testemonials .bullits li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.our-skills .container .testemonials .bullits li.active {
  background-color: var(--first-color);
  border-color: var(--first-color);
}
.our-skills .container .skills .progress {
  margin-bottom: 40px;
}
.our-skills .container .skills .progress h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .container .skills .progress .prog {
  height: 30px;
  background-color: #dedadc;
  margin-bottom: 30px;
}
.our-skills .container .skills .progress .prog span {
  position: relative;
  display: block;
  background-color: var(--first-color);
  height: 100%;
}
.our-skills .container .skills .progress .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.our-skills .container .skills .progress .prog span::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
.quote {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 75%);
}
.quote .container {
  position: relative;
}
.quote .container q {
  font-size: 30px;
  display: block;
  margin-bottom: 15px;
  position: relative;
}
.quote .container q::before {
  content: '\f10d';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.quote .container q::after {
  content: '\f10e';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.pricing {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.pricing .container .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .container .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .container .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--first-color);
  border-bottom: 1px solid var(--first-color);
}
.pricing .container .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .container .plans .plan .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .container .plans .plan .head span::before {
  content: '$';
  position: relative;
  font-size: 25px;
  top: -40px;
  font-weight: normal;
}
.pricing .container .plans .plan .head span::after {
  content: '/mo';
  text-transform: uppercase;
  position: relative;
  font-size: 25px;
  right: -15px;
}
.pricing .container .plans .plan ul {
border-bottom: 1px solid var(--first-color);
}
.pricing .container .plans .plan ul li {
  padding: 20px;
  position: relative;
}

.pricing .container .plans .plan ul li:not(:last-child)::after {
  content: '';
  width: 160px;
  height: 1px;
  background-color: var(--first-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 2;
}
.pricing .container .plans .plan .foot a {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid var(--first-color);
  width: fit-content;
  margin: 30px auto;
  color: var(--first-color);
  transition: .7s;
}
.pricing .container .plans .plan .foot a:hover {
  border: none;
  font-weight: bold;
  color: white;
  background-color: var(--first-color);
  border-radius: 5px;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--first-color);
  color: white;
  padding: 15px 30px;
  transition: .7s;
}
.pricing .contact-link:hover {
  background-color: white;
  border: 1px solid var(--first-color);
  color: var(--first-color);
  font-weight: bold;
  border-radius: 5px;
}
.subscribe {
  background-image: url(../images/subscribe.jpg);
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  position: relative;
  background-size: cover;
  color: white;
}
.subscribe::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 50%);
  position: absolute;
  top: 0;
  left: 0;
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe .container form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe .container form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe .container form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--first-color);
  width: calc(500px - 130px);
  max-width: calc(100% - 130px);
}
.subscribe .container form input[type="submit"] {
  width: 130px;
  background-color: var(--first-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
  transition: .7s;
}
.subscribe .container form input[type="submit"]:hover {
  color: var(--first-color);
  background-color: white;
  font-weight: bold;
  border: 2px solid var(--first-color);
  border-radius: 0 5px 5px 0;
}
.subscribe .container form input[type="email"]:focus,
.subscribe .container form input[type="submit"]:focus {
  outline: none;
}
.subscribe .container form ::placeholder {
  color: white;
}
.subscribe .container p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .subscribe .container p {
    text-align: center;
    margin: 30px 0 0;
  }
}
.contact {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}
.contact .container .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .container .content {
    flex-direction: column;
  }
}
.contact .container .content form {
  flex-basis: 70%;
}
.contact .container .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .container .content form .main-input:focus {
  outline: none;
}
.contact .container .content form textarea.main-input {
  height: 200px;
}
.contact .container .content form input[type="submit"] {
  background-color: var(--first-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: .7s;
}
.contact .container .content form input[type="submit"]:hover {
  background-color: white;
  font-weight: bold;
  color: var(--first-color);
  border-radius: 5px;
  border: 1px solid var(--first-color);
}
.contact .container .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .container .content .info {
    text-align: center;
    order: -1;
    /* margin-bottom: 20px; */
  }
}
.contact .container .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 767px) {
  .contact .container .content .info h4 {
  margin-top: 10px;
  }
}
.contact .container .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .container .content .info h4:nth-child(4) {
  margin-top: 85px;
}
.contact .container .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .container .content .info address {
    margin-bottom: 30px;
  }
}
.footer {
  padding-top: calc(var(--padding) / 2);
  padding-bottom: calc(var(--padding) / 2);
  background-image: url(../images/subscribe.jpg);
  position: relative;color: white;
  text-align: center;
}
.footer::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 70%);
  bottom: 0;
  left: 0;
}
.footer .container {
  position: relative;
}
.footer .container img {
  margin: 0 0 20px 0;
}
.footer .container p:not(.cop) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .container .social-ico i {
  padding: 10px 15px;
}
.footer .container .cop {
  margin-top: 60px;
}
.footer .container .cop span {
  font-weight: bold;
  color: var(--first-color);
}